* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
  }
.tab-item-container {
    float: left;
    text-decoration: none;
    margin-bottom:5px;
    height: 50px;
   text-align: center;
   margin-top: 100px;


}
 button{
    width: 150px;
    padding: 10px 2px;
    background-color: black;
    color: white;
    border-radius: 10px;
 }


.tab-item-container ul li{
    float: left;
    margin:0px;
    padding: 0px;
}



.project-item-title{
    width:550px;
    height:50px;
    margin-top: 30px;
}
.project-item-para{
    width:300px;
    
    margin-top: 20px;
    margin-left: 0px;
    
}


.project-img{
    width:350px;
    height:200px;
    margin-top: 30px;
    
}

.project-con{
   margin-left: 100px;
   padding: 0;
   width:500px;
   float: left;
    
}
.social-network-img{
    width:35px;
    height: 35px;
}
.nav-content{
    
    display: flex;
    
}
.nav-header{
    display:inline-block;
    
}
.nav-content p{
    -ms-flex-align: baseline;
    margin: 10px 0px;
    padding: auto;
    
}
.nav-menu ul{

    margin:0px;
    padding: 0px;
    -ms-flex-item-align: end;
   display: inline-block;
}
.nav-li ul li{
     -ms-flex-item-align: end;
     margin: auto;
     display: inline-block;
}