.avatar{
    width:48px;
    height: 48px;
    border-radius: 24px;
}

.user-details-container{
    margin-left: 20px;
    width:300px;
}
.user-name{
    font-size: 18px;
    color:blue;
    font-family: 'roboto';
    margin-top:8px;
    margin-bottom: 8px;
    margin-left: 20px;
    
}
.user-designation{
    font-family:"roboto";
    font-size:14px;
    color:#594d6d;
    margin-left:20px;
    width:150px;
}
.user-card-container{
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 32px;
    width:500px;
}
.delete-img{
    width:10px;
    height:10px;

}
.btn{
    margin-left:40px;
    margin-right: 40px;
    text-align: center;
    

}
.delete-button{
    margin:10px 60px;

    
}