.list-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title{
    font-family: 'roboto';
    font-size: 32px;
    color:blue;
    margin-bottom:30px;
  }
  .box{
        margin: 30px auto;
         padding-top: 32px;
         padding-bottom: 32px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 6px #ccc;
          max-width: 500px;
  }
  